/* Daniel Benoit 
Final Project
5/2/26 */


header{
    border-style: solid;
    border-width: 1px;
    text-align: center;
    padding: 1em;
    background-color: azure;
    font-family: system-ui, sans-serif;
    font-weight: normal;
}



/* ------------------------
Main headings */

h1{
        text-align: center;
        font-family: system-ui, sans-serif;
    }

#blue-text{
    color: rgb(173, 216, 230);
    /* This is a light blue color */
}

/* 
-----------------
navigation panel */
a:visited{
    color:#0000FF;
}

a:hover{
    color:rgb(255,0,0);
}

.banner {
    display: block;
    margin-left: auto;    /*this is to make sure the banner is in the center of the page */
    margin-right: auto;
    margin-bottom: 15px;
    width: 150px;
}
/* ---------------------------- */



p{
    /* I found this online.  I like the look of indented paragraphs */
    /* it doesn't indent after <br>, jut the first line of a p */
    text-indent: 2em;
}


footer{
    /* The clear function is to prevent images from bleeding into the footer */
    clear: both;
    border-style: solid;
    border-width: 1px;
    text-align: center;
    padding: 1em;
    background-color: azure;
    border-spacing: 5px;
        /* I wanted the border to be a little smaller than the border for the header.  the first value is top/bottom, second is sides */
    margin: 10px 15px;
    font-family: system-ui, sans-serif;
    font-weight: normal;
}


blockquote{
        /* Ive seen just-left borders on quotes before, i think it does a good job showing that its a quote */
    border-left: 10px solid blue;
    padding-left: 1em; 
}



main{
    font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', Arial, sans-serif;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
    margin-bottom: 2%;

    padding: 10px;
    border: 1px solid black;
    }

.technicalTerms{
    font-family: ui-monospace, 'Cascadia Code', 'Source Code Pro', monospace;
    font-weight: bold;

    }

.threeColumns{
    column-count:3;
    column-gap: 15px;
    column-fill: balance;
    column-rule-style: solid;
    column-rule-width: 1px;
    -webkit-column-count: 3;
    -webkit-column-gap: 15px;
    -webkit-column-fill: balance;
    -webkit-column-rule-style: solid;
    -webkit-column-rule-width: 1px;
    -moz-column-count: 3;
    -moz-column-gap: 15px;
    -moz-column-fill: balance; 
    -moz-column-rule-style: solid;
    -moz-column-rule-width: 1px;

    }


/*used to set the two logo hyperlinks in the VPS page*/
.logos{
    display: block;
    margin: auto;
    /* margin-left: auto;     
    margin-right: auto;
    margin-bottom: 15px; */
    width: 150px;
    /* width: 25%; */
}

/* the next section is unused. */
/* ---------------------------------------- */
    /* used to set the Amazon logo hyperlink 
 .leftfloat{

    /* display:inline-block;
    /* width: 40%;  
    vertical-align: top; 
    /* using maring left centers the gap between the list a little better 
    margin-left: 10%; */

    /* float: left;
    width: 15%;
    height: auto;
    padding-right: 20px;
    margin-right: 20px; 


}
   
used to set the Liquid Web logo hyperlink 
 .rightfloat{ 

    
    /* display:inline-block;
    /* width: 40%;  
    vertical-align: top;  */

    /* float: right;
    /* height: 100px; */
    /* max-width: 200%;
    height: auto;
    margin-right: 20%;
    margin-top: 15px; 

    padding-left: 1px; */
/* ------------------------------------------ */

/* adds padding to tuck in info */
.addpadding{
    padding-left: 100px;
    padding-right: 100px;

}

/* ---------------------------
For  tables */

table{
    width: 60%;
    margin-left: auto;
    margin-right:auto;
    border-collapse: collapse;
	border: 2px solid black;
}
th{
    border: 2px solid black;
    padding-right: 10%;
    padding-left: 10%;
    background-color: aqua;

}
td{
    border: 2px solid black;
    padding-left: 15%;
}
caption{
    font-size: small;
}

.leftFloatedImage{
    float:left;
    margin-left: 5%;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid black;
    padding: 5px;
    width: 25%;
    height: auto;

}


/* ---------------------------------------- */
/* The classes below are for the parallel lists in Managed vs Unmanaged hosing */

.centerText{
    text-align: center;
    clear: both;
}


.leftFloatList{
    /* float: right: */
    /* Float didn't work, tried inline-block.  better results.  */
    display:inline-block;
    width: 40%; 
    vertical-align: top; 


}
.rightFloatList{
    /* float: right: */
    /* Float didn't work, tried inline-block.  better results.  */
    display:inline-block;
    width: 40%; 
    vertical-align: top; 
    /* using maring left centers the gap between the list a little better */
    margin-left: 10%;

}