head{



}


body{
/*background-color: red;*/
	}

	.table1{

		border-color: rgb(195,177, 255) ;

	border-collapse: collapse;

		}

	.table1 th{
		
		border-spacing: 0px;
		background-color: rgb(195, 177, 225); 
		border-width: 20px;

		padding: 0px;
		border-color: rgb(195, 177, 255);
		border-style: solid;

	}

	/*.table1 td{

		td:nth-child(even){
			background-color: rgb(246, 206, 252);


	}*/

	.table1tbody{

	}

	.table1tbody tr:nth-child(even){
			background-color: rgb(246, 206, 252);
			/*border-collapse: collapse;*/
		}

	/*.centeralign{



		text-align: center;
		vertical-align: center;


		border-spacing: 0px;
		border-collapse: collapse;
		}*/
	

	

	/*.table1header{

		th:nth-child(even){
			background-color: rgb(195, 177, 225);
		}

		th:nth-child(odd){
			background-color: rgb(195, 177, 225);
			pastel purple
		}
		

		 background-color: rgb(195, 177, 225); 
		border-collapse: collapse;
		border-spacing: 0px;
			}*/
			




	/*.table1OddRows{
		/*background-color: rgb(246, 206, 252);*/

		/*th:nth-child(even){
			background-color: rgb(246, 206, 252);
		}
		td:nth-child(even){
			background-color: rgb(246, 206, 252);

		}
			*/
	}



	/*.table1tbody{

		text-align: center;
		vertical-align: center;


		border-spacing: 0px;
		border-collapse: collapse;
		/*padding-top: 0px;
  		padding-bottom: 0px;
  		padding-left: 0px;
  		padding-right: 0px;
		row-gap: 0;

		}*/

	










